body{
	background-color:#111;
}

#main_heading{
	color: #0070AF;
	text-align:center;
	font-size:42pt;
	text-transform:uppercase;
	margin-bottom:5%;
}

#container{
	display:flex;
	justify-content:space-around;
}

.thumb{
	width:30%;
	transition:0.7s;
	border-radius:10%;
	background:#999;
}
.thumb:hover{
	transform:scale(1.2);
	background:#fff;
	border-radius:5%;
}

#thumbs{
	width:40%;
}

.row{
	margin-top:5%;
	display:flex;
	justify-content:space-around;
}

#main{
	width:55%;
}

#name{
	margin-bottom:0;
	margin-left:10%;
}